server.properties
usercache.json
usernamecache.json
ops.json
whitelist.json
logs/
server.jar
.fabric
session.lock
world/advancements/
world/data/
world/datapacks/
world/DIM1/
world/DIM-1/
world/entities/
world/playerdata/
world/poi/
world/region/
world/scripts/
world/serverconfig/
world/stats/
world_nether/
world_nether/DIM-1/
world_nether/DIM-1/data/
world_nether/DIM-1/entities/
world_nether/DIM-1/poi/
world_nether/DIM-1/region/
world_end/DIM-1/data/
world_end/DIM-1/entities/
world_end/DIM-1/poi/
world_end/DIM-1/region/
